.dash-datepicker {
    display: block;
    flex: 1;
    box-sizing: border-box;
    margin: calc(var(--Dash-Spacing) * 2) 0;
    padding: 0;
    background: inherit;
    border: none;
    outline: none;
    width: 100%;
    font-size: inherit;
    overflow: hidden;
    accent-color: var(--Dash-Fill-Interactive-Strong);
    outline-color: var(--Dash-Fill-Interactive-Strong);
}

.dash-datepicker .dash-dropdown {
    display: inline;
    width: 40%;
    min-width: 132px;
    margin-right: calc(var(--Dash-Spacing) * 2);
}

.dash-datepicker-input-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    align-items: center;
    gap: calc(var(--Dash-Spacing) * 2);
    box-sizing: border-box;
    padding: 0 calc(var(--Dash-Spacing) * 2);
}

.dash-datepicker-input-wrapper:has(:nth-child(3)) {
    grid-template-columns: auto 1fr auto;
}

.dash-datepicker-input-wrapper:has(:nth-child(4)) {
    grid-template-columns: auto 1fr auto auto;
}

.dash-datepicker-input-wrapper,
.dash-datepicker-content {
    border-radius: var(--Dash-Spacing);
    border: 1px solid var(--Dash-Stroke-Strong);
    color: inherit;
    text-align: left;
}

.dash-datepicker-input {
    height: 34px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
}

.dash-datepicker-input-wrapper:focus-within {
    border: 1px solid var(--Dash-Fill-Interactive-Strong);
}

.dash-datepicker:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.dash-datepicker-input:focus {
    outline: none;
}

.dash-datepicker-input::placeholder {
    color: var(--Dash-Text-Disabled);
}

.dash-datepicker-trigger-button {
    padding: var(--Dash-Spacing);
    background: transparent;
    border: none;
    border-radius: 4px;
    color: var(--Dash-Text-Strong);
    cursor: pointer;
}

.dash-datepicker-trigger-button:hover {
    background: var(--Dash-Fill-Weak);
}

.dash-datepicker-trigger-button:focus-visible {
    outline: 2px solid var(--Dash-Fill-Interactive-Strong);
    outline-offset: 2px;
}

.dash-datepicker-trigger-button[aria-expanded='true'] {
    background: var(--Dash-Fill-Weak);
}

.dash-datepicker-trigger-icon {
    width: 16px;
    height: 16px;
}

.dash-datepicker-content {
    padding: 8px;
    background: var(--Dash-Fill-Inverse-Strong);
    width: fit-content;
    max-width: 98vw;
    overflow-y: auto;
    z-index: 500;
    box-shadow: 0px 10px 38px -10px var(--Dash-Shading-Strong),
        0px 10px 20px -15px var(--Dash-Shading-Weak);
}
